h1 {
    color: green;
    margin: auto;
    width: 30%;
    align-content: center;
}
h2 {
    margin: auto;
    width: 20%;
    align-content: center;
}
h3 {
    margin: auto;
    width: 30%;
}
img {
    width: 400px; 
    height: 250px;
}
body {
    background-image: url("https://cdna.artstation.com/p/assets/images/images/009/647/682/large/martin-novak-wood-texture.jpg?1520148399");

}
div {
    margin: auto;
    width: 60%;
}
#thirdDiv {
    height: 600px; 
    width: 500px; 
    background-color: grey; 
    padding: 50px; 
    border-style: double; 
    border-color: rgb(70, 35, 6); 
    border-width: 20px;
}
#spanId {
    font-size: 18px; 
    margin: 50px;
}