h1 {
    color: green
}
img {
    width: 400px; 
    height: 300px;
body {
    background-image: url("https://media.freestocktextures.com/cache/2c/cd/2ccdc50f379f91ad26fb989b6b6d00ad.jpg");
}
}
#thirdDiv {
    height: 600px; 
    width: 500; 
    background-color: grey; 
    padding: 50px; 
    border-style: double; 
    border-color: rgb(70, 35, 6); 
    border-width: 20px;
}
#spanId {
    font-size: 18px; 
    margin: 50px;
}
